{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Home{% endblock %}


{% block body %}
    {% for hotel in hotels %}
        {{ hotel.hotel_name }} Hotel name <br>
        <div>
            <a class="flex items-center" href="#">
                {% thumbnail hotel.hotel_image "600x600" crop="center" as im %}
                    <img class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block" src="{{ im.url }}" alt="avatar">
                {% endthumbnail %}
            </a>
        </div>
    {% endfor %}
{% endblock %}